# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim temporary files
*.swp
*.swo

# Compiled files in externals
/c++/externals/
!/c++/externals/include/externals/README
!/c++/externals/lib/README
!/c++/externals/obj/README
!/c++/externals/src/README
!/c++/externals/zip/README
!/c++/externals/zip/*.tar.gz
!/c++/externals/Makefile
!/c++/externals/README.md

# Compiled files 
/c++/build
/c++/src/build
/c++/unittest/build

# Python compiled files
*.pyc

# ctag files for Vim plugin
tags
